/*
 * Title:   Travelo - Travel, Tour Booking HTML5 Template - Responsive CSS file
 * Author:  http://themeforest.net/user/soaptheme
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. New Grid System
2. Add clearfix in the grid system
3. Styles for devices(>=992px and <=1199px)
4. Styles for devices(<=1199px)
5. Styles for devices(<=991px )
6. Styles for devices(>=768px and <= 991px)
7. Styles for devices(<=767px )
8. Styles for devices(<=480px )
9. Styles for devices(<=320px )

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import 'mixin';

/* 1. New Grid System */
// make col-sms class for mobile which has width from 480 to 767
.col-sms-1,.col-sms-2,.col-sms-3,.col-sms-4,.col-sms-5,.col-sms-6,.col-sms-7,.col-sms-8,.col-sms-9,.col-sms-10,.col-sms-11,.col-sms-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .col-sms-1,.col-sms-2,.col-sms-3,.col-sms-4,.col-sms-5,.col-sms-6,.col-sms-7,.col-sms-8,.col-sms-9,.col-sms-10,.col-sms-11,.col-sms-12 {
    float: left;
  }
  .col-sms-12 {
    width: 100%;
  }
  .col-sms-11 {
    width: 91.66666667%;
  }
  .col-sms-10 {
    width: 83.33333333%;
  }
  .col-sms-9 {
    width: 75%;
  }
  .col-sms-8 {
    width: 66.66666667%;
  }
  .col-sms-7 {
    width: 58.33333333%;
  }
  .col-sms-6 {
    width: 50%;
  }
  .col-sms-5 {
    width: 41.66666667%;
  }
  .col-sms-4 {
    width: 33.33333333%;
  }
  .col-sms-3 {
    width: 25%;
  }
  .col-sms-2 {
    width: 16.66666667%;
  }
  .col-sms-1 {
    width: 8.33333333%;
  }
  .col-sms-pull-12 {
    right: 100%;
  }
  .col-sms-pull-11 {
    right: 91.66666667%;
  }
  .col-sms-pull-10 {
    right: 83.33333333%;
  }
  .col-sms-pull-9 {
    right: 75%;
  }
  .col-sms-pull-8 {
    right: 66.66666667%;
  }
  .col-sms-pull-7 {
    right: 58.33333333%;
  }
  .col-sms-pull-6 {
    right: 50%;
  }
  .col-sms-pull-5 {
    right: 41.66666667%;
  }
  .col-sms-pull-4 {
    right: 33.33333333%;
  }
  .col-sms-pull-3 {
    right: 25%;
  }
  .col-sms-pull-2 {
    right: 16.66666667%;
  }
  .col-sms-pull-1 {
    right: 8.33333333%;
  }
  .col-sms-pull-0 {
    right: 0%;
  }
  .col-sms-push-12 {
    left: 100%;
  }
  .col-sms-push-11 {
    left: 91.66666667%;
  }
  .col-sms-push-10 {
    left: 83.33333333%;
  }
  .col-sms-push-9 {
    left: 75%;
  }
  .col-sms-push-8 {
    left: 66.66666667%;
  }
  .col-sms-push-7 {
    left: 58.33333333%;
  }
  .col-sms-push-6 {
    left: 50%;
  }
  .col-sms-push-5 {
    left: 41.66666667%;
  }
  .col-sms-push-4 {
    left: 33.33333333%;
  }
  .col-sms-push-3 {
    left: 25%;
  }
  .col-sms-push-2 {
    left: 16.66666667%;
  }
  .col-sms-push-1 {
    left: 8.33333333%;
  }
  .col-sms-push-0 {
    left: 0%;
  }
  .col-sms-offset-12 {
    margin-left: 100%;
  }
  .col-sms-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sms-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sms-offset-9 {
    margin-left: 75%;
  }
  .col-sms-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sms-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sms-offset-6 {
    margin-left: 50%;
  }
  .col-sms-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sms-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sms-offset-3 {
    margin-left: 25%;
  }
  .col-sms-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sms-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sms-offset-0 {
    margin-left: 0%;
  }
}

/* 2. Add clearfix in the grid system */
.row.add-clearfix > .col-xs-2:nth-child(6n+1) { clear: both; }
.row.add-clearfix > .col-xs-3:nth-child(4n+1) { clear: both; }
.row.add-clearfix > .col-xs-4:nth-child(3n+1) { clear: both; }
.row.add-clearfix > .col-xs-6:nth-child(2n+1) { clear: both; }

@media (min-width: 481px) {
  /* add clearfix in the grid system */
  .row.add-clearfix > .col-sms-2 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: none; }
    &:nth-child(6n+1) { clear: both; }
  }
  .row.add-clearfix > .col-sms-3 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: both; }
  }
  .row.add-clearfix > .col-sms-4 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: both; }
  }
  .row.add-clearfix > .col-sms-6 {
    &:nth-child(2n+1) { clear: both; }
  }
}

@media (min-width: 768px) {
  
  /* add clearfix in the grid system */
  .row.add-clearfix > .col-sm-2 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: none; }
    &:nth-child(6n+1) { clear: both; }
  }
  .row.add-clearfix > .col-sm-3 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: both; }
  }
  .row.add-clearfix > .col-sm-4 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: both; }
  }
  .row.add-clearfix > .col-sm-6 {
    &:nth-child(2n+1) { clear: both; }
  }
}

@media (min-width: 992px) {
  .mobile-menu { display: none ; }
  .visible-mobile { display: none ; }

  /* add clearfix in the grid system */
  .row.add-clearfix > .col-md-2 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: none; }
    &:nth-child(6n+1) { clear: both; }
  }
  .row.add-clearfix > .col-md-3 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: both; }
  }
  .row.add-clearfix > .col-md-4 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: both; }
  }
  .row.add-clearfix > .col-md-6 {
    &:nth-child(2n+1) { clear: both; }
  }
}

@media (min-width: 1200px) {
  .container { padding-left: 0; padding-right: 0; }

  /* add clearfix in the grid system */
  .row.add-clearfix > .col-lg-2 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: none; }
    &:nth-child(6n+1) { clear: both; }
  }
  .row.add-clearfix > .col-lg-3 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: none; }
    &:nth-child(4n+1) { clear: both; }
  }
  .row.add-clearfix > .col-lg-4 {
    &:nth-child(2n+1) { clear: none; }
    &:nth-child(3n+1) { clear: both; }
  }
  .row.add-clearfix > .col-lg-6 {
    &:nth-child(2n+1) { clear: both; }
  }
}

/* 3. Styles for devices(>=992px and <=1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container { padding-left: 0; padding-right: 0; }
}

/* 4. Styles for devices(<=1199px) */
@media (max-width: 1199px) {
  [class^="col-lg-"] {
    &.pull-left, &.pull-right { float: none ; } 
  }

}

/* 5. Styles for devices(<=991px ) */
@media (max-width: 991px) {
  .container { width: auto; padding-left: 15px; padding-right: 15px; }

  #header {
    padding-top: 0 ; background: none ;
    .logo {
      float: none ; position: static ; padding-top: 19px; height: 66px; margin: 0 ; display: block;
      a:after { display: none ; }
      a { background-size: auto 30px; }
      img { height: 30px; width: auto; }
    }
    .main-navigation { background: #fff; }
    .mobile-menu-toggle { display: block; }
    #main-menu { display: none; }
    .topnav { display: none; }
  }

  .hidden-mobile { display: none ; }
  
  [class^="col-md-"], [class*=" col-md-"] {
    &.pull-left, &.pull-right { float: none ; } 
  }
  
  .block-sm { float: none ; margin-bottom: 10px ; }

  dl.term-description {
    dd { padding-left: 20px; }
  }

  .hidden-table-sm.table-wrapper { 
    display: block; 
    &.intro { border: 15px solid #f5f5f5; }
    > .table-cell, > .table-row > .table-cell { display: block; &.pull-left { float: left ; } &.pull-right { float: right ; } }
  }
}

/* 6. Styles for devices(>=768px and <= 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .tab-container.full-width-style {
    ul.tabs { width: 20%; }
    .tab-content { width: 80%; }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /*.hidden-xs { display: block ; }*/
}

/* 7. Styles for devices(<=767px ) */
@media (max-width: 767px) {
  
  /* remove chaser in mobile */
  .chaser { display: none ; }

  [class^="col-sm-"], [class*=" col-sm-"] {
    &.pull-left, &.pull-right { float: none ; } 
  }

  .image-box.style2 {
    figure { float: none; }
    .details { padding-left: 20px; padding-bottom: 20px; }
  }

  .breadcrumbs { display: none; }
  .breadcrumbs { display: none; }
}

/* 8. Styles for devices(<=480px ) */
@media (max-width: 480px) {

  
  .image-box-style.style2 {
    figure { width: 100%; float: none; }
    .details { padding: 20px; }
  }
  
  .visible-sms { display: block; }

  .hidden-table-xs.table-wrapper { 
    display: block; 
    &.intro { border: 15px solid #f5f5f5; }
    > .table-cell, > .table-row > .table-cell { display: block; &.pull-left { float: left ; } &.pull-right { float: right ; } }
  }
}

/* 9. Styles for devices(<=320px ) */
@media (max-width: 320px) {
   .container { width: 314px; }
   .row { padding: 0 3px; }
}